<h3>Please Login</h3>
<form action="/login" method="POST">
  <label for="username">Username:</label>
  <div>
    <input type="text" id="username" name="username" placeholder="username"><br>
  </div>
  <label for="password">Password:</label>
  <div>
    <input type="password" id="password" name="password" placeholder="password">
  </div>
  <input type="submit" id="login" value="Log In">
</form>
